<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的mapper接口 -->
<mapper namespace="cn.gameboys.mybatis.xml.base.UserMapper">
	<!--select查询语句 -->
	<select id="getUserList" resultType="cn.gameboys.mybatis.xml.base.User">
		/*定义sql*/
		select * from
		mybatis.user
	</select>

	<select id="getUserById" resultType="cn.gameboys.mybatis.xml.base.User"
		parameterType="int">
		/*定义sql*/
		select * from mybatis.user where id = #{id};
	</select>

	<!--对象中的属性可以直接取出来 -->
	<insert id="addUser" parameterType="cn.gameboys.mybatis.xml.base.User">
		insert into mybatis.user (id,
		name, pwd) values (#{id},#{name},#{pwd});
	</insert>

	<!--对象中的属性，可以直接取出来 parameterType=传递map中的key -->
	<insert id="addUser2" parameterType="map">
		insert into mybatis.user
		(id, name, pwd) values
		(#{userId},#{userName},#{password});
	</insert>

	<update id="updateUser" parameterType="cn.gameboys.mybatis.xml.base.User">
		update mybatis.user set
		name = #{name},pwd=#{pwd} where id=#{id} ;
	</update>

	<delete id="deleteUser" parameterType="int">
		delete from mybatis.user
		where id = #{id};
	</delete>





	<!--结果集映射 -->
	<resultMap id="UserMap" type="User">
		<!--column数据库中的字段，property实体类中的属性 -->
		<result column="id" property="id"/> 
		<result column="name" property="name"/> 
		<result column="pwd" property="pwd" />
	</resultMap>


	<!--分页 -->
	<select id="getUserByLimit" parameterType="map" resultMap="UserMap">
		select * from mybatis.user limit #{startIndex},#{pageSize}
	</select>

	<!--分页2 -->
	<select id="getUserByRowBounds" resultMap="UserMap">
		select * from mybatis.user
	</select>







</mapper>